
@{
    //ViewBag.Title = "UnAuthorise Access";
    //Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<head>
    <title>UnAuthorise Access </title>
</head>
<div>
    <h2>You are not authorised to view this page</h2>
</div>


